name: Release Workflow
on:
  push:
      branches:
        - production
jobs:
  release:
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@v2
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v5.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          body: ${{ steps.tag_version.outputs.changelog }}
  deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - if: secrets.PROD_ENV == 1
        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{ secrets.PRODUCTION_APP_NAME }}
          heroku_email: "louisandrew3@gmail.com"
          usedocker: true
          docker_build_args: |
            APP_NAME
            SECRET_KEY
            REMOTE
        env:
          APP_NAME: ${{ secrets.PRODUCTION_APP_NAME }}
          SECRET_KEY: ${{secrets.SECRET_KEY}}
          REMOTE: 1
